<!DOCTYPE html>
<html lang="en">
<head>
  <title>Memes library</title>
  <!-- BM Change the path to the css files -->
  <%- include('./partials/head.ejs') %>
  <link href="../../stylesheets/memes/memes.css" rel="stylesheet">
  <link href="../../stylesheets/memes/navbar.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../../js/memes/memeid.js"></script>
  <script src="./js/search.js"></script>

</head>
<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>

  <section class="container d-flex justify-content-center" id="searchBar">
    <div class="row">
      <div class="col-md-8">
        <input type="text" id="memeInput" placeholder="Search for memes.." class="form-control">
      </div>
      <div class="col-md-4">
        <button class="btn btn-success btn-block mb-3" type="submit" onclick="searchForMemes()">Go!</button>
      </div>
    </div>
  </section>


  <section class="container">
    <% if(user) { %>
      <table class="table" id="memes-table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Image</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <% console.log(viewedMemes) %>

          <% data.forEach(meme => { %>
            
              <% if (viewedMemes && viewedMemes[meme.id]) { %>
                <tr class="visited-row">
                <td scope="row"><%= meme.id %></td>
                <td><%= `${meme.name}` %></td>
                <td><%= `${meme.width} x ${meme.height}` %></td>
                <td><img src="<%= meme.url %>" alt="<%= meme.name %>" width="100" height="100"></td>
                <td>
                <form>
                  <button id="detailButton" class="btn btn-success" type="button" onclick="window.location.href='/meme/' + '<%= meme.id %>'">Details</button>
                </form>
              <% } else { %>
                <tr>
                <th scope="row"><%= meme.id %></th>
                <td><%= `${meme.name}` %></td>
                <td><%= `${meme.width} x ${meme.height}` %></td>
                <td><img src="<%= meme.url %>" alt="<%= meme.name %>" width="100" height="100"></td>
                <td>
                <form>
                  <button id="detailButton" class="btn btn-primary" type="button" onclick="window.location.href='/meme/' + '<%= meme.id %>'">Details</button>
                </form>
              </td>
              <% } %>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <table class="table" id="memes-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(meme => { %>
            <tr>
              <td scope="row"><%= meme.name %></td>
              <td><img src="<%= meme.url %>" alt="<%= meme.name %>" width="100" height="100"></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </section>
  <script src="../../js/memes.js"></script>
  <%- include('./partials/scripts.ejs') %>
  
</body>
</html>
