<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Details</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link href="../stylesheets/navbar.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/memeDetails/memes.css">
  <link rel="stylesheet" href="../stylesheets/memeDetails/navbar.css">
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>

  <section class="container">

    <div class="row">
      <div class="col-4">
        <h1 class="text-success"><%= `${meme.name}`%></h1>
        <ul>
        <li>Dimensions: <%= `${meme.width} x ${meme.height}`%></li>
        <li>ID: <%= meme.id %> </li>
        <li>URL: <a href="<%=meme.url%>"> Click here for "<%= meme.name %>" source. </a></li>
        </ul>
      </div>
      <div class="col-8">
        <img class="w-100" src="<%= meme.url %>">
      </div>
    </div>
  
  </section>

    <%- include('./partials/scripts.ejs') %>
</body>

</html>